
@font-face{
  font-family: 'har';
  src:url('/static/fonts/HarmonyOS_Sans_Thin.ttf');
}
html {
  font-family: 'har';
  font-size: 16px;
  // background: #946ff0;
  background: #38b1ab;
  scroll-behavior: smooth;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  // background: #312450;
  background: #479d91;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: white;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      // background-image: linear-gradient(to right, #5e42a6, #b74e91)
      background-image: linear-gradient(to right, #ff7c7c, #306397);
    }
  }
}
#imageBox{
  width: 48px;
  height: 48px;
  top: -25px;
  left: -185px;
  position: relative;
}
#clock{
  font-size: 3em;
  position: relative;;
  font-weight: 600;
  top:-60px;
  color: #2a5c8f;
}
section {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  a {
    position: relative;
    
    img {

      width: 64px;
      height: 64px;
    }
  }
  
  p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
  }
}
.wechat_pop{
  position: fixed;
  left: 50%;
  top:35%;
  
  .x{
    border: #312450 solid 3px;
    right: 0px;
    z-index: 2;
    position: absolute;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 18px;
  }
  .qrcode{
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 18px;
    border: 3px solid #29272a;
  }
}